@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">Welcome to</h4>
    <h1>Copy de Blockbuster</h1>
    <p> Your one stop shop for entertainment</p>
</div>
